
@media (min-width: 768px) and (max-width: 1199.98px) { ... }
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}



.bannerBgImage {
    height:100vh;
    background:url("images/me.jpg");
    background-size:cover;
    position:relative;

}

.bannerText {
    text-align: right;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:black;

}

.bannerTitle {
    font: size 4rem;
}

.bannerDesc {
    font-size: 2rem;
}

.img-fluid:hover {

    border: 3px solid yellowgreen;
}

.card-img-top {
    height:50vh;
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
    
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align:left;
}
.card:hover {
    background-color: #d0f9a1;
    border: 3px solid #050505;
}
.servicesText:hover {
    border: 1px solid #008000;
}
{
    max-width: 400px;
    background: green;
    height: 40px;
    text-align: right;
}

.marquee {
    background:white;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
    overflow:hidden;
}
